## Questão 1

In [77]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
from sklearn.preprocessing import StandardScaler

dados_iris = load_iris()
df_iris = pd.DataFrame(data=dados_iris.data, columns=dados_iris.feature_names)

print("Resumo Estatístico dos Dados Originais:")
display(df_iris.describe())

padronizador = StandardScaler()
dados_padronizados = padronizador.fit_transform(df_iris)

df_padronizado = pd.DataFrame(dados_padronizados, columns=dados_iris.feature_names)

print("Resumo Estatístico dos Dados Padronizados:")
display(df_padronizado.describe())

Resumo Estatístico dos Dados Originais:

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

Resumo Estatístico dos Dados Padronizados:

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,1.500000e+02,1.500000e+02,1.500000e+02,1.500000e+02
mean,-1.468455e-15,-1.823726e-15,-1.610564e-15,-9.473903e-16
std,1.003350e+00,1.003350e+00,1.003350e+00,1.003350e+00
min,-1.870024e+00,-2.433947e+00,-1.567576e+00,-1.447076e+00
25%,-9.006812e-01,-5.923730e-01,-1.226552e+00,-1.183812e+00
50%,-5.250608e-02,-1.319795e-01,3.364776e-01,1.325097e-01
75%,6.745011e-01,5.586108e-01,7.627583e-01,7.906707e-01
max,2.492019e+00,3.090775e+00,1.785832e+00,1.712096e+00

## Questão 2

In [78]:
def padronizacao_manual(df):
    media = df.mean()
    desvio = df.std()
    return (df - media) / desvio

df_padronizado_manual = padronizacao_manual(df_iris)

print("Dados Padronizados Manualmente:")
display(df_padronizado_manual.describe())

diferenca = df_padronizado - df_padronizado_manual
print("Diferença entre StandardScaler e Padronização Manual:")
display(diferenca)

Dados Padronizados Manualmente:

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,1.500000e+02,1.500000e+02,1.500000e+02,1.500000e+02
mean,-1.515825e-15,-1.894781e-15,-1.515825e-15,-8.526513e-16
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-1.863780e+00,-2.425820e+00,-1.562342e+00,-1.442245e+00
25%,-8.976739e-01,-5.903951e-01,-1.222456e+00,-1.179859e+00
50%,-5.233076e-02,-1.315388e-01,3.353541e-01,1.320673e-01
75%,6.722490e-01,5.567457e-01,7.602115e-01,7.880307e-01
max,2.483699e+00,3.080455e+00,1.779869e+00,1.706379e+00

Diferença entre StandardScaler e Padronização Manual:

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0            -0.003007          0.003402          -0.004475         -0.004392
1            -0.003816         -0.000441          -0.004475         -0.004392
2            -0.004626          0.001097          -0.004665         -0.004392
3            -0.005030          0.000328          -0.004285         -0.004392
4            -0.003412          0.004171          -0.004475         -0.004392
..                 ...               ...                ...               ...
145           0.003466         -0.000441           0.002737          0.004838
146           0.001848         -0.004284           0.002357          0.003079
147           0.002657         -0.000441           0.002737          0.003519
148           0.001443          0.002634           0.003116          0.004838
149           0.000229         -0.000441           0.002547          0.002640

[150 rows x 4 columns]

## Questão 3

In [79]:
from sklearn.preprocessing import Normalizer

normalizador_l2 = Normalizer(norm='l2')

dados_normalizados_l2 = normalizador_l2.fit_transform(df_iris)

df_l2 = pd.DataFrame(dados_normalizados_l2, columns=iris.feature_names)
print("Primeiras linhas dos dados com normalização L2:")
display(df_l2.head())

Primeiras linhas dos dados com normalização L2:

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0           0.803773          0.551609           0.220644          0.031521
1           0.828133          0.507020           0.236609          0.033801
2           0.805333          0.548312           0.222752          0.034269
3           0.800030          0.539151           0.260879          0.034784
4           0.790965          0.569495           0.221470          0.031639

## Questão 4

In [80]:
from sklearn.preprocessing import Normalizer

normalizador_l1 = Normalizer(norm='l1')

dados_l1 = normalizador_l1.fit_transform(df_iris)

df_l1_normalizado = pd.DataFrame(dados_l1, columns=iris.feature_names)

print("Somatório das colunas após normalização L1:")
display(df_l1_normalizado.sum())

df_l1_normalizado.head()

Somatório das colunas após normalização L1:

sepal length (cm)    64.711626
sepal width (cm)     35.251681
petal length (cm)    38.294848
petal width (cm)     11.741845
dtype: float64

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0           0.500000          0.343137           0.137255          0.019608
1           0.515789          0.315789           0.147368          0.021053
2           0.500000          0.340426           0.138298          0.021277
3           0.489362          0.329787           0.159574          0.021277
4           0.490196          0.352941           0.137255          0.019608

## Questão 5

In [81]:
from sklearn.datasets import load_breast_cancer
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

dados_cancer = load_breast_cancer()
df_diagnostico = pd.DataFrame(dados_cancer.data, columns=dados_cancer.feature_names)
df_diagnostico['classe'] = dados_cancer.target

correlacoes = df_diagnostico.corr()['classe'].drop('classe').abs().sort_values(ascending=False)

atributos_principais = correlacoes.head(10).index.tolist()

print("As 10 variáveis mais correlacionadas com o alvo:")
print(atributos_principais)

As 10 variáveis mais correlacionadas com o alvo:
['worst concave points', 'worst perimeter', 'mean concave points', 'worst radius', 'mean perimeter', 'worst area', 'mean radius', 'mean area', 'mean concavity', 'worst concavity']

## Questão 6

In [82]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

caracteristicas = df_diagnostico.drop(columns='classe')
alvo = df_diagnostico['classe']

modelo_base = LogisticRegression(max_iter=10000)

seletor_rfe = RFE(estimator=modelo_base, n_features_to_select=10)
seletor_rfe.fit(caracteristicas, alvo)

variaveis_wrapper = caracteristicas.columns[seletor_rfe.support_].tolist()

print("Atributos selecionados via Wrapper (RFE):")
print(variaveis_wrapper)

print("\nComparando com o método de correlação:")
em_comum = set(atributos_principais) & set(variaveis_wrapper)
print("Atributos em comum:", em_comum)

Atributos selecionados via Wrapper (RFE):
['mean radius', 'mean compactness', 'mean concavity', 'texture error', 'worst radius', 'worst smoothness', 'worst compactness', 'worst concavity', 'worst concave points', 'worst symmetry']

Comparando com o método de correlação:
Atributos em comum: {'mean concavity', 'mean radius', 'worst concavity', 'worst concave points', 'worst radius'}

## Questão 7
Descreva o funcionamento do método de Embedding e sua vantagem computacional em relação ao Wrapper.

O método de Embedding faz a seleção de atributos durante o próprio treinamento do modelo, aproveitando as características internas do algoritmo, como regularização (L1) ou importância dos atributos em árvores de decisão. Isso o torna mais eficiente do que o método Wrapper, que testa várias combinações de atributos separadamente, exigindo mais tempo e processamento.

## Questão 8

In [97]:
from sklearn.feature_extraction.text import CountVectorizer

texto = '''A alma é, pois, imortal; renasceu repetidas vezes na existência e contemplou todas as coisas existentes e por isso não há nada que ela não conheça! 
Não é de espantar que ela seja capaz de evocar à memória a lembrança de objetos que viu anteriormente, e que se relacionam tanto com a virtude como com as outras coisas existentes. 
Toda a natureza, com efeito, é uma só, é um todo orgânico, e o espírito já viu todas as coisas; logo, nada impede que ao nos lembrarmos de uma coisa – o que nós, homens, chamamos de “saber” – todas as outras coisas acorram imediata e maquinalmente à nossa consciência.'''

vectorizer = CountVectorizer()
X_bow = vectorizer.fit_transform([texto])
pd.DataFrame(X_bow.toarray(), columns=vectorizer.get_feature_names_out())

,acorram,alma,anteriormente,ao,as,capaz,chamamos,coisa,coisas,com,...,só,tanto,toda,todas,todo,um,uma,vezes,virtude,viu
0,1,1,1,1,4,1,1,1,4,3,...,1,1,1,3,1,1,2,1,1,2

## Questão 9

In [98]:
for n in [1, 2, 3]:
    vectorizer_ng = CountVectorizer(ngram_range=(n, n))
    X_ng = vectorizer_ng.fit_transform([texto])
    print(f"{n}-grams:")
    print(len(vectorizer_ng.get_feature_names_out()))

1-grams:
63
2-grams:
82
3-grams:
86

## Questão 10

In [99]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer

nltk.download('stopwords')

conteudo = """A alma é, pois, imortal; renasceu repetidas vezes na existência e contemplou todas as coisas existentes e por isso não há nada que ela não conheça! Não é de espantar que ela seja capaz de evocar à memória a lembrança de objetos que viu anteriormente, e que se relacionam tanto com a virtude como com as outras coisas existentes. Toda a natureza, com efeito, é uma só, é um todo orgânico, e o espírito já viu todas as coisas; logo, nada impede que ao nos lembrarmos de uma coisa – o que nós, homens, chamamos de “saber” – todas as outras coisas acorram imediata e maquinalmente à nossa consciência."""

tokenizador = RegexpTokenizer(r'\w+')
palavras = tokenizador.tokenize(conteudo.lower())

palavras_vazias = set(stopwords.words('portuguese'))

palavras_filtradas = [p for p in palavras if p not in palavras_vazias]

print(palavras_filtradas)

['alma', 'pois', 'imortal', 'renasceu', 'repetidas', 'vezes', 'existência', 'contemplou', 'todas', 'coisas', 'existentes', 'nada', 'conheça', 'espantar', 'capaz', 'evocar', 'memória', 'lembrança', 'objetos', 'viu', 'anteriormente', 'relacionam', 'tanto', 'virtude', 'outras', 'coisas', 'existentes', 'toda', 'natureza', 'efeito', 'todo', 'orgânico', 'espírito', 'viu', 'todas', 'coisas', 'logo', 'nada', 'impede', 'lembrarmos', 'coisa', 'homens', 'chamamos', 'saber', 'todas', 'outras', 'coisas', 'acorram', 'imediata', 'maquinalmente', 'consciência']

[nltk_data] Downloading package stopwords to C:\Users\Volta
[nltk_data]     Taylana\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

## Questão 11

In [100]:
import nltk

nltk.download('punkt')
nltk.download('rslp')

[nltk_data] Downloading package punkt to C:\Users\Volta
[nltk_data]     Taylana\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package rslp to C:\Users\Volta
[nltk_data]     Taylana\AppData\Roaming\nltk_data...
[nltk_data]   Package rslp is already up-to-date!

True

In [101]:
from nltk.tokenize import wordpunct_tokenize
from nltk.stem import RSLPStemmer

words = wordpunct_tokenize(texto)

stemmer = RSLPStemmer()
stemmed = [stemmer.stem(word) for word in words]

print("Tokens:", words)
print("Stemmed:", stemmed)

Tokens: ['A', 'alma', 'é', ',', 'pois', ',', 'imortal', ';', 'renasceu', 'repetidas', 'vezes', 'na', 'existência', 'e', 'contemplou', 'todas', 'as', 'coisas', 'existentes', 'e', 'por', 'isso', 'não', 'há', 'nada', 'que', 'ela', 'não', 'conheça', '!', 'Não', 'é', 'de', 'espantar', 'que', 'ela', 'seja', 'capaz', 'de', 'evocar', 'à', 'memória', 'a', 'lembrança', 'de', 'objetos', 'que', 'viu', 'anteriormente', ',', 'e', 'que', 'se', 'relacionam', 'tanto', 'com', 'a', 'virtude', 'como', 'com', 'as', 'outras', 'coisas', 'existentes', '.', 'Toda', 'a', 'natureza', ',', 'com', 'efeito', ',', 'é', 'uma', 'só', ',', 'é', 'um', 'todo', 'orgânico', ',', 'e', 'o', 'espírito', 'já', 'viu', 'todas', 'as', 'coisas', ';', 'logo', ',', 'nada', 'impede', 'que', 'ao', 'nos', 'lembrarmos', 'de', 'uma', 'coisa', '–', 'o', 'que', 'nós', ',', 'homens', ',', 'chamamos', 'de', '“', 'saber', '”', '–', 'todas', 'as', 'outras', 'coisas', 'acorram', 'imediata', 'e', 'maquinalmente', 'à', 'nossa', 'consciência', '.']
Stemmed: ['a', 'alm', 'é', ',', 'poi', ',', 'imort', ';', 'renasc', 'repet', 'vez', 'na', 'exist', 'e', 'contempl', 'tod', 'as', 'cois', 'exist', 'e', 'por', 'iss', 'não', 'há', 'nad', 'que', 'ela', 'não', 'conheç', '!', 'não', 'é', 'de', 'espant', 'que', 'ela', 'sej', 'capaz', 'de', 'evoc', 'à', 'memór', 'a', 'lembranç', 'de', 'objet', 'que', 'viu', 'anteri', ',', 'e', 'que', 'se', 'relacion', 'tant', 'com', 'a', 'virtud', 'com', 'com', 'as', 'outr', 'cois', 'exist', '.', 'tod', 'a', 'natur', ',', 'com', 'efeit', ',', 'é', 'uma', 'só', ',', 'é', 'um', 'tod', 'orgân', ',', 'e', 'o', 'espírit', 'já', 'viu', 'tod', 'as', 'cois', ';', 'log', ',', 'nad', 'imped', 'que', 'ao', 'no', 'lembr', 'de', 'uma', 'cois', '–', 'o', 'que', 'nó', ',', 'hom', ',', 'cham', 'de', '“', 'sab', '”', '–', 'tod', 'as', 'outr', 'cois', 'acorr', 'imediat', 'e', 'maqu', 'à', 'noss', 'consci', '.']

## Questão 12

In [102]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\Volta
[nltk_data]     Taylana\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [103]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
nltk.download('omw-1.4')

lemmatizer = WordNetLemmatizer()
lemmatized = [lemmatizer.lemmatize(word) for word in filtered_words]
print(lemmatized)

['alma', 'poi', 'imortal', 'renasceu', 'repetidas', 'vezes', 'existência', 'contemplou', 'toda', 'coisas', 'existentes', 'nada', 'conheça', 'espantar', 'capaz', 'evocar', 'memória', 'lembrança', 'objetos', 'viu', 'anteriormente', 'relacionam', 'tanto', 'virtude', 'outras', 'coisas', 'existentes', 'toda', 'natureza', 'efeito', 'todo', 'orgânico', 'espírito', 'viu', 'toda', 'coisas', 'logo', 'nada', 'impede', 'lembrarmos', 'coisa', 'homens', 'chamamos', 'saber', 'toda', 'outras', 'coisas', 'acorram', 'imediata', 'maquinalmente', 'consciência']

[nltk_data] Downloading package wordnet to C:\Users\Volta
[nltk_data]     Taylana\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to C:\Users\Volta
[nltk_data]     Taylana\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!